body {
  font-family: sans-serif;
  padding: 2em;
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.dark {
  background-color: #121212;
  color: white;
}

label, input, button {
  display: block;
  margin: 1em 0;
}

.progress-container {
  width: 100%;
  height: 20px;
  background: #ddd;
  margin-top: 1em;
}

.progress-bar {
  height: 100%;
  background: green;
  width: 0%;
}

button {
  padding: 0.5em 1em;
}
